.container {
  width: 100%;
  font-size: 1em;

  display: flex;
}

.header {
  margin-bottom: 2.4em;
}

.text-area {
  width: 60%;
}

.text-area-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.text {
  margin-bottom: 6em;
}

.contact-photo {
  width: 40%;
  content: url(/assets/kontakt.png);
}
