.li {
  text-align: left;
  font: normal normal 300 16px/26px Lato-light;
  color: #ffffff;
  margin-left: 13px;
}

.li::before {
  content: "✓ ";
  font-weight: bold;
  margin-left: -13px;
}

.li__text {
  opacity: 0.7;
}

.li__price {
  font-weight: 600;
  opacity: 0.8;
}

.informations {
  font-family: Lato-light;
  font-size: 14px;
}

.long {
  width: fit-content;
}

@media (min-width: 1920px) {
  .li {
    font-size: calc(16 / 1920 * 100vw);
    line-height: calc(26 / 1920 * 100vw);
    margin-left: calc(13 / 1920 * 100vw);
  }

  .li::before {
    margin-left: calc(-13 / 1920 * 100vw);
  }

  .informations {
    font-size: calc(14 / 1920 * 100vw);
    line-height: calc(21 / 1920 * 100vw);
  }
}
