<div class="container">
  <div class="logo">
    <app-img [src]="'logo.png'" [class]="'header'"></app-img>
  </div>

  <div class="footer__container">
    <div class="company__info">
      <div class="company__info--text">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est.
      </div>
    </div>

    <div class="company__item">
      <a href="#" class="company__item--header">Menu</a>
      <div class="item__links">
        <a href="#" class="item__links--link">O mnie</a>
        <a href="#" class="item__links--link">Opinie</a>
      </div>
    </div>
    <div class="company__item">
      <a href="#" class="company__item--header">Filmy</a>
      <div class="item__links">
        <a href="#" class="item__links--link">Reportaże filmowe</a>
        <a href="#" class="item__links--link">Podziękowania dla rodziców</a>
      </div>
    </div>
    <div class="company__item">
      <a href="#" class="company__item--header">Oferta</a>
    </div>
    <div class="company__item">
      <a href="#" class="company__item--header">Kontakt</a>
    </div>
  </div>
</div>
