.container {
  font-size: max(1em, 10px);
}

.text-container {
  display: flex;
  margin-bottom: 13em;
}

.text-container > * {
  flex-grow: 1;
}

.logo,
.text-container {
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
  margin-bottom: 4em;
}

.text-area {
  width: 36em;
}

.text {
  font-size: 1.5em;
  font-family: Lato-light;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  max-width: 30em;
}

.link-header {
  font-size: 2em;
  font-family: Hello Branch;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.link {
  font-size: 1.5em;
  font-family: Lato-light;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-group {
  display: flex;
  flex-direction: column;
}
