.container {
  display: flex;
  margin-bottom: calc(125 / 1920 * 100vw);
}

.container > * {
  flex-grow: 1;
}

.logo,
.container {
  margin-left: calc(220 / 1920 * 100vw);
  margin-right: calc(220 / 1920 * 100vw);
}

.logo {
  width: calc(240 / 1920 * 100vw);
  height: calc(100 / 1920 * 100vw);

  margin-bottom: calc(38 / 1920 * 100vw);
}

.text-area {
  width: calc(364 / 1920 * 100vw);
}

.text {
  font: normal normal normal calc(15 / 1920 * 100vw) / calc(18 / 1920 * 100vw)
    Lato-light;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;

  max-width: calc(364 / 1920 * 100vw);
}

.link-header {
  font: normal normal bold calc(20 / 1920 * 100vw) / calc(20 / 1920 * 100vw)
    Hello Branch;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.link {
  font: normal normal normal calc(15 / 1920 * 100vw) / calc(20 / 1920 * 100vw)
    Lato-light;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-group {
  display: flex;
  flex-direction: column;
}
