<div class="container">
  <div class="memories__top">
    <app-img class="photo photo1" [src]="'Group87.png'"></app-img>
    <app-img class="photo photo2" [src]="'Group88.png'"></app-img>

    <span class="top__text">
      …idealne momenty <br />
      nigdy nie są planowane
    </span>
  </div>

  <div class="memories__slider">
    <app-text-slider></app-text-slider>
  </div>

  <div class="memories__bottom">
    <app-img class="photo photo3" [src]="'Group89.png'"></app-img>
    <app-img class="photo photo5" [src]="'Group91.png'"></app-img>
    <app-img class="photo photo4" [src]="'Group90.png'"></app-img>

    <span class="bottom__text">
      doskonałe chwile… <br />
      po prostu, same w sobie…
    </span>
  </div>
</div>
