<header class="header" [class.hidden]="hidden">
  <nav class="list">
    <app-link [url]="'/#o-mnie'" [class]="'header'">o mnie</app-link>
    <app-link [url]="'/#opinie'" [class]="'header'">opinie</app-link>
    <app-link [url]="'/oferta'" [class]="'header'">oferta</app-link>

    <a href="/">
      <app-img class="logo" [src]="'logo.png'" [class]="'header'"></app-img>
    </a>

    <app-link [url]="'/filmy'" [class]="'header'">filmy</app-link>
    <app-link [url]="'/#podziekowania'" [class]="'header'"
      >podziękowania</app-link
    >
    <app-link [url]="'/#kontakt'" [class]="'header'">kontakt</app-link>
  </nav>
</header>
