.header {
  position: fixed;
  width: 100%;
  top: 0;

  transition: 1s;

  font-size: max(min(1em, 10px), 7px);

  z-index: 100;
}

.hidden {
  top: -200px;
}

.list {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;

  margin-top: 2.4em;
  margin-bottom: 3em;
}

.list > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  flex: 2;
  margin: 0 calc(17vw - 200px);
}

nav {
  margin: 0 calc(10vw - 150px);
}
