<header class="header" [class.header--hidden]="hidden">
  <nav class="header__nav">
    <app-link [url]="'/#about-me'" [class]="'header'">o mnie</app-link>
    <app-link [url]="'/#opinions'" [class]="'header'">opinie</app-link>
    <app-link [url]="'/offer'" [class]="'header'">oferta</app-link>

    <a href="/">
      <app-img class="header__nav--logo" [src]="'logo.png'"></app-img>
    </a>

    <app-link [url]="'/movies'" [class]="'header'">filmy</app-link>
    <app-link [url]="'#'" [class]="'header'">podziękowania</app-link>
    <app-link [url]="'/#contact'" [class]="'header'">kontakt</app-link>
  </nav>
</header>
