@import url(slider.animation.css);

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  font-size: 1em;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;

  font-size: 1em;

  opacity: 0.5;
}

.slider__header {
  text-align: center;
  font-size: 6em;
  font-family: hello branch;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.slider__text {
  text-align: center;

  font-size: 2em;
  font-family: "lato-light";
  line-height: 1.5em;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;

  margin: 1.1em 0;
}

.slider__dots--container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 26em;

  font-size: 1em;
}

.dots__dot {
  height: 0.8em;
  width: 0.8em;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.17;
  border-radius: 50%;
  display: inline-block;

  margin: 0 0.4em;
}

.slider__signature {
  text-align: center;
  font-size: 4em;
  font-family: hello branch;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;

  margin-top: 1.5em;
}
