.style {
  font: 300 2em Lato-light;
  line-height: 1.5em;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.responsive-16 {
  font-size: 1.6em;
}

.darkGrey {
  color: #272727;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.half-opacity {
  opacity: 0.5;
}
