<div class="container">
  <div class="moments-container">
    <img class="photo photo1" />
    <img class="photo photo2" />

    <span class="momentsText1 momentsText">
      …idealne momenty <br />
      nigdy nie są planowane
    </span>
  </div>

  <div class="wspomnienia-slider">
    <app-text-slider></app-text-slider>
  </div>

  <div class="moments-two-container">
    <img class="photo photo3" />
    <img class="photo photo5" />
    <img class="photo photo4" />

    <span class="momentsText2 momentsText">
      doskonałe chwile… <br />
      po prostu, same w sobie…
    </span>
  </div>
</div>
