<div class="container">
  <!-- Pominac - Aga sie musi zastanowic -->
  <div
    class="slider"
    #slider
    [ngStyle]="{
      'margin-left': 'calc((100vw - 92em) / 2 - 102em *' + index + ')'
    }"
  >
    <div
      *ngFor="let s of videoData; let i = index"
      class="slider__wrapper"
      #element
    >
      <div class="slider__video">
        <iframe
          class="movie"
          [src]="s.src | safe"
          title="YouTube video player"
          frameborder="0"
          allow="autoplay"
          allowfullscreen
        ></iframe>
        <app-h
          appSize
          [size]="'h1'"
          class="slider__names"
          [class]="'darkGrey'"
          >{{ s.names }}</app-h
        >
      </div>
      <app-h appSize [size]="'h3'" class="responsive-70">{{ s.where }}</app-h>
      <app-p class="uppercase half-opacity center responsive-16">{{
        s.place
      }}</app-p>
      <div class="slider__positioner--space"></div>
      <div class="slider__positioner--line"></div>
    </div>
  </div>

  <div class="slider__previous" (click)="goPrevious()"></div>
  <div class="slider__next" (click)="goNext()"></div>
</div>
