.container {
  width: 100%;
  height: 500px;

  font-size: 10px;
  position: relative;
}

.container:last-child {
  margin: 0;
}

.slider {
  height: 100%;

  display: flex;

  transition: 1s;
}

.slider__wrapper {
  min-width: 102em;
  padding-right: 10em;
}

.movie,
.slider__video {
  width: 100%;
  height: 100%;
}

.slider__video {
  position: relative;
}

.slider__names {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}

.slider__positioner--space {
  margin-bottom: 30px;
}

.slider__positioner--line {
  height: 100px;
  width: 1px;
  background-color: white;
  opacity: 0.5;
  margin: 0 auto;
}

.slider__previous,
.slider__next {
  position: absolute;
  z-index: 100;
  width: calc((100vw - 92em) / 2 - 100px);
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider__previous {
  left: 0;
  top: 0;
}

.slider__next {
  right: 0;
  top: 0;
}
