<div class="container" #container>
  <div class="previous" #previous (click)="goPrevious($event)">
    <div class="thumbnail"></div>
  </div>
  <div class="current" #current>
    <iframe
      class="movie"
      [src]="getUrl(current)"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="next" #next (click)="goNext($event)">
    <div class="thumbnail"></div>
  </div>
</div>
