<div class="container">
  <div class="me__info">
    <div class="info__container">
      <app-h
        appSize
        [size]="'h1'"
        class="info__container--header"
        [class]="'left'"
      >
        Tak miło mi<br />Cię poznać !
      </app-h>
      <app-p class="info__container--text" [class]="'responsive-24'">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit
      </app-p>
      <app-link [class]="'mainTextLinksResponsive'">SPOTKAJMY SIĘ !</app-link>
    </div>
  </div>

  <img class="me__photo" />
</div>
