<div class="container">
  <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
    <app-h appSize [size]="'h3'" [class]="'left notresponsive-70'">
      Masz do mnie pytania?
    </app-h>

    <div class="topic">
      <input
        type="text"
        class="contact__input contact__input--first"
        placeholder="Temat"
        formControlName="topic"
      />
      <input
        type="email"
        class="contact__input"
        placeholder="Adres e-mail"
        formControlName="email"
      />
    </div>

    <div class="contact__textArea">
      <textarea
        class="textArea__input"
        cols="30"
        rows="3"
        placeholder="Wpisz wiadomość"
        formControlName="text"
      ></textarea>
      <div class="textArea__background">
        <div
          *ngFor="let i of [0, 1, 2]"
          class="textArea__background--line"
        ></div>
      </div>
    </div>

    <div class="contact__checkbox-wrapper">
      <input
        type="checkbox"
        class="contact__checkbox"
        id="checkbox"
        formControlName="checked"
      />
      <label class="contact__checkbox--label" for="checkbox"></label>
      <div class="contact__checkbox--text">
        Wyrażam zgodę na przetwarzanie moich danych osobowych przez
        administratora danych <br />
        IFilmYou oraz akceptuję ogólne warunki użytkowania i politykę
        prywatności.
      </div>
    </div>

    <input
      class="contact__button"
      type="submit"
      [disabled]="!formData.valid"
      value="Wyślij wiadomość"
    />
  </form>
</div>
