.container {
  width: calc(960 / 1920 * 100vw);
  padding: 60px;

  background-color: #2c2c2c;
  min-width: 780px;

  font-size: 1em;
}

.contact__input,
.contact__input--text {
  color: #ffffff;
  opacity: 0.58;

  border: none;

  padding-bottom: 4px;
}

.contact__input {
  width: 300px;

  font-size: 17px;
  font-family: Lato;
  line-height: 21px;

  margin-bottom: 40px;
  margin-top: 40px;

  background-color: #2c2c2c;
  border-bottom: 1px solid #ffffff;
}

.contact__input--first {
  margin-right: 40px;
}

.contact__textArea {
  width: 640px;
  height: 100px;
  position: relative;
}

.textArea__input {
  width: 100%;
  position: absolute;

  font-size: 17px;
  font-family: Lato;
  line-height: 28px;

  background-color: #2c2c2c;

  border: none;
  resize: none;

  margin-bottom: 40px;
}

.textArea__background {
  pointer-events: none;
  width: 100%;
  height: 28px;
  position: absolute;

  opacity: 0.58;
}

.textArea__background--line {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ffffff;
}

.contact__button {
  margin-top: 52px;

  width: 379px;
  height: 81px;
  background-color: #2c2c2c;
  border: 1px solid rgba(255, 255, 255, 0.48);

  font: normal normal normal 44px Hello Branch;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.contact__button:hover {
  cursor: pointer;
}

.contact__button:disabled {
  opacity: 0.5;
}

.contact__button:disabled:hover {
  cursor: not-allowed;
}

.contact__checkbox {
  visibility: hidden;
}

.contact__checkbox-wrapper {
  display: flex;
  position: relative;
}

.contact__checkbox-wrapper
  .contact__checkbox:checked
  + .contact__checkbox--label:after {
  opacity: 1;
}

.contact__checkbox-wrapper .contact__checkbox--label {
  background: none repeat scroll 0 0 #2c2c2c;
  border: 1px solid #fff;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;

  opacity: 0.5;
}

.contact__checkbox-wrapper .contact__checkbox--label:after {
  border-style: none none solid solid;
  content: "";
  top: 7px;
  left: 4px;
  height: 8px;
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  width: 18px;
  border-color: #fff;
}

.contact__checkbox--text {
  text-align: left;
  font: normal normal 600 13px Lato-light;
  letter-spacing: 0px;
  color: #ffffff;

  margin-left: 30px;
  margin-top: -2px;
}
